<!-- product.component.html -->

<div *ngIf="service; else notFound" class="service-detail">
  <h2 calss="service-name">{{ service?.name }}</h2>

  <!-- 2nd Row: Description and Image -->
  <div class="product-main">
    <!-- <div class="product-description">
      <p>{{ service?.description }}</p>
    </div> -->
    <div class="product-image">
      <img [src]="service?.imageUrl" [alt]="service?.name" />
    </div>
  </div>

  <!-- 3rd Row: Feature Lists -->
  <div class="product-features">
    <div class="feature-category" *ngFor="let feature of service?.featureList">
      <h3>{{ feature.title }}</h3>
      <ul>
        <li *ngFor="let f of feature.features">{{ f }}</li>
      </ul>
    </div>
  </div>
</div>

<ng-template #notFound>
  <div class="not-found">
    <h2>Product not found!</h2>
    <p>The product you are looking for does not exist.</p>
  </div>
</ng-template>