<div class="info-section">
  <h2 class="section-title">產品</h2>
  <div class="item-list">
    <div class="item">
      <h3 class="item-title">Daily Skin Routine</h3>
      <img src="assets/daily.jpg" alt="Daily" class="item-photo" />
    </div>
    <div class="item">
      <h3 class="item-title">Injection Medical Device</h3>
      <img src="assets/injection.jpg" alt="Injection" class="item-photo" />
    </div>
    <div class="item">
      <h3 class="item-title">Skin Boosters</h3>
      <img src="assets/Skin.jpg" alt="skin" class="item-photo" />
    </div>
    <div class="item">
      <h3 class="item-title">Machines</h3>
      <img src="assets/Machines.jpg" alt="machines" class="item-photo" />
    </div>
    <!-- 添加更多產品條目 -->
  </div>
</div>
